<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">pięknysoft</h3>
				<ul class="mb3">
					<li><a href="/" class="link">pięknysoft</a></li>
					<li><a href="/products" class="link">Produkty</a></li>
					<li><a href="/values" class="link">O mnie</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

